@import url("https://use.typekit.net/std3xut.css");
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	background: #fff;
}

body {
	--color-text: #000;
	--color-bg: #fff;
	--color-link: #000;
	--color-link-hover: #000;
	--color-info: #000;
	font-family: "brother-1816",sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	position: relative;
	margin: 0 auto;
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
}

/* Top Navigation Style */

.grid__item {
	position: relative;
	display: flex;
	align-items: stretch;
	width: 100vw;
}

.grid__item--bg {
	background-color: var(--item-bg);
	height: 100vw;
}

.grid__item-content {
	width: 100%;
	padding: 8vw;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	pointer-events: none;
	background: var(--item-bg);
}

.grid__item--bg .grid__item-content {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.grid__item-img {
	display: block;
	height: 100%;
	width: 100%;
}

.grid__item-img canvas {
	height: 100%;
}

.grid__item-img img {
	height: 100%;
	display: block;
}

.js .grid__item-img img {
	display: none;
}

.grid__item-title {
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 1;
	margin: 2rem 0 0 0;
	color: var(--item-title);
}

.grid__item-title--small {
	font-size: 1.5rem;
	line-height: 1.25;
	margin-bottom: 1rem;
}

.grid__item-meta {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.25rem;
	font-size: 0.95rem;
	color: var(--item-meta);
}

.grid__item-subtitle {
	display: block;
	margin: auto 0 0 0;
	font-weight: 400;
	font-size: 1.5em;
	color: var(--item-subtitle);
}

.grid__item-subtitle span {
	display: block;
}

.grid__item-text {
	font-size: 2rem;
	line-height: 1.75;
	margin: 2rem 0 0 0;
	color: var(--item-text);
}

.grid__item-link {
	display: inline-block;
	color: currentColor;
	font-weight: 700;
	font-size: 0.95rem;
	position: relative;
	padding: 0 0 0.2rem;
	pointer-events: auto;
	color: var(--item-link);
}

.grid__item-text + .grid__item-link {
	white-space: nowrap;
	margin-top: 1rem;
	align-self: flex-start;
	margin-top: auto;
}

.grid__item-nav {
	display: flex;
}

/* Themes */
.theme-1 {
	--item-bg: #FFF702;
    --item-title: #000;
    --item-subtitle: #000;
    --item-text: #000;
}

.theme-2 {
	--item-bg: #242038;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff;
}

.theme-3 {
	--item-bg: #9067C6;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff;
}

.theme-4 {
	--item-bg:  #8D86C9;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-5 {
	--item-bg: #CAC4CE;
    --item-title: #000;
    --item-subtitle: #000;
    --item-text: #000;
}

.theme-6 {
	--item-bg: #F9F4F5;
    --item-title: #000000;
    --item-subtitle: #000000;
    --item-text: #000;
}

.theme-7 {
	--item-bg:#FF4365;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-8 {
	--item-bg: #00D9C0;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-9 {
	--item-bg: #EC9192;
    --item-title: #000;
    --item-subtitle: #000;
    --item-text: #000;
}

.theme-10 {
	--item-bg: #CCB7AE;
    --item-title: #000;
    --item-subtitle: #000;
    --item-text: #000;
}

@media screen and (min-width: 85em) {
	.grid__item-text {
		width: 80%;
	}
}

@media screen and (min-width: 50em) {
	.grid {
		display: grid;
		grid-template-columns: repeat(2,50vmax);
	}
	.grid__item {
		height: 50vmax;
		width: 100%;
	}
	.grid__item-title {
		font-size: 6vw;
	}
	.grid__item-title--small {
		font-size: 3vw;
	}
	.grid__item-text {
		margin-top: 2.5rem;
	}
}

.cab{
    display: grid;
    background: rgb(36, 36, 36);
}

.texa{
	text-align: center;
	color: white;
	font-size: 2rem;
}